<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "GreatTenants", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
							<% if tenant_signed_in? %>
						      <li><%= link_to current_tenant.email, edit_tenant_registration_path %></li>
						      <li><%= link_to "Logout", destroy_tenant_session_path, method: :delete %></li>
						    <% else %>
						      <li><%= link_to "Sign up", new_tenant_registration_path %></li>
						      <li><%= link_to "Login", new_tenant_session_path %></li>
						    <% end %>
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Help",    '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>

